<!-- container que vai ocupar toda largura da página -->
<header class="main-header-container">
    <!-- container menor -->
    <div class="main-header container">
        <!-- A tag <i> conte o código da icone utilizado dentro da tag <h1> -->
        <h1>
            <!-- classe para o logotipo -->
            <a class="main-logo" href="{% url "recipes-home" %}">
                <!-- classe para o texto do logotipo -->
                <i class="fas fa-utensils logo-icon main-logo-icon"></i>
                <span class="main-logo-text"> Recipes </span>
            </a>
        </h1>
    </div>
</header>