<!-- div que representará o serach-contaneir -->
<div class="serach-contaneir">
    <!-- div que representará o container -->
    <div class="container">
        <!-- form para o campo search -->
        <form action="" class="search-form">
            <!-- campo de search -->
            <input type="search" class="search-input" name="search">
            <!-- botaão de search com icone -->
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>